*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(221, 220, 219);
}
.top_nav{
    height: 60px;
    background-color: #131921;
    display: flex;
    color:#fff;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.nav_logo{
    width: 110px;
    padding-top: 12px;
}
.nav_logo img{
    width: 100%;

}
.border{
    border: 1px solid transparent;
    padding: 6px 4px;
}
.border:hover{
    border: 1px solid white;
    border-radius: 2px;
}


/* ....location box..... */


.location_icon{
    display: flex;
    align-items: center;
}
.location_first{
    margin-left: 14px;
    color:#ccc;
    font-size: 0..9vw;
}
.location_second{
    font-size: 1vw;
    font-weight: 700;
}
.location_icon i{
    font-size: 1.3vw;
    margin-right: 3px;
}

/* ....search box..... */

.nav_search{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 600px;
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;
}
.nav_search:hover{
    border: 2px solid orange;
}
.category{
    width: 52px;
    text-align: center;
    font-size: 1vw;
    border: 0;
    outline: none;
    background-color: #bbb8b8;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search_input{
    width: 100%;
    border: 0;
    outline: none;
    font-size: 1.2vw;
    padding-left: 5px;

}
.search_icon{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.5vw;
    background-color: rgb(252, 184, 57);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

/* .....language box...... */

.nav_language{
    width: auto;

}
.lang_select{
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    color: white;
    width: 42px;
    text-align: center;
    font-weight: 560;

}
.lang_select img{
    width: 20px;
}


/* .....signin box...... */

.first_signin{
    color:#ccc;
    font-size: 0.9vw;
}
.second_signin{
    font-size: 1vw;
    font-weight: 700;

}

/* .....Cart box.... */

.nav_cart{
    display: flex;
    align-items: center;
}
.nav_cart i{
    font-size: 2.2vw;
    margin-right: 5px;
}
.nav_cart p{
    font-size: 1vw;
    font-weight: 700;
}

/* .....bottom navbar */

.bottom_nav{
    background-color: #232f3e;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 20px;
    width: 100%;
    position: relative;
    top: 60px;
}

.bnav_left{
    display: flex;
    align-items: center;
}

.bnav_left .all{
    display: flex;
    align-items: center;
    font-size: 1vw;
}
.bnav_left .all i{
    font-size: 1.5vw;
    margin-right: 5px;
}
.options{
    display: flex;
}
.bnav_left .options a{
    font-size: 1vw;
    text-decoration: none;
    margin: 0 6px;

}

/* .....hero section.... */
.actual{
    margin-right: 80px;
    margin-left: 80px;
}
.hero_section{
    background-image: url("img1.jpg");
    height: 300px;
    background-size: cover;
    margin-top: 40px;
    width: 100%;
}

/* chat */
.cards_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #f3f3f3;
}

.card {
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 14px;
}

.card h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.card_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.card_img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* ....products..... */
.products_box{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #f3f3f3;
}

.box{
    background: #fff;
    padding: 20px;
    height: auto;
    height: 400px;
}
.box img{
    width: 100%;
    height: 300px;
    object-fit: cover;

}
h3{
    margin-bottom: 20px;
}
.box a{
    text-decoration:none;
    margin-top: 20px;
    font-size: 1vw;
    color: blue;
}

/* ...scorll bar... */

.scroll_bar{
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
}
.scroll_bar .products{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: auto;
}
.products img{
    width: 200px;
    margin: 0 20px;
    margin-bottom: 20px;
}
.products::-webkit-scrollbar{
    height: 8px;
    cursor: pointer;
}
.products::-webkit-scrollbar-track{
    border-radius: 10px;

}
.products::-webkit-scrollbar-thumb{
    background-color:white;
}
.products::-webkit-scrollbar-thumb:hover{
    background-color: grey;
}


/* ....signin section..... */

.signin_section{
    width:100%;
    background: #fff;
    margin: 20px,0;
    padding: 30px 0;
}
.signin_section .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(158, 158, 158);
    padding: 30px 0;
}

.signin_section .content h3{
    /* font-size: 1vw; */
    margin-bottom: 5px ;
    margin-top: 5px;
}
.signin_section .content button{
    font-size: 1vw;
    padding: 5px 40px;
    background-color:rgb(255, 230, 0);
    border: none;
    outline: none;
    border-radius: 99px;
    width: 300px;
}
.signin_section .content a{
    text-decoration: none;
    color: blue;
    font-size: 1vw;
}

/* ....footer.... */

.footer{
    width: 100%;
    background-color:#232f3e ;
    color: #fff;
}
.footer .row{
    display: flex;
    justify-content: space-around;
    padding: 50px 80px;
    flex-wrap: wrap;
}
.footer .row .col{
    padding: 20px;
}
.footer .row .col ul li{
    list-style: none;
}
.footer .row .col ul li a{
    font-size: 1vw;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}
.footer .row .col ul li a:hover{
    text-decoration: underline;
}

.col_heading{
    font-weight: 700;
    font-size: 1.2vw;
    margin-bottom: 20px;
}

.bottom_footer{
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    /* flex-direction: column; */
}


.footer_icon img{
    width: 100px;

}
.footer_icon button{
    padding: 8px 28px;
    background-color: transparent;
    border: 0;
    outline: none;
    border: 1px solid grey;
    color: white;
    border-radius: 4px;
}
.footer_icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    margin-bottom: 30px;
}

hr{
    border: 0.5px solid rgb(77, 76, 76);
}

 .dark_footer{
    background-color: #131921;
    display: flex;
    /* justify-content: space-around; */
    padding: 50px 80px;
    /* flex-wrap: wrap; */
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    
}
.link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}
.link  li{
    display: inline;
    padding-left: 40px;
}
.link  li a{
    text-decoration: none;
}
.link  li a:hover{
    text-decoration: underline;
    color: white;

}
.link h5{
    color: white;
    font-weight: 400;
}
.link p{
    color: gray;
    font-size: 0.6vw;
}

.dark_footer .copy{
    color: white;
    font-family: 1vw;
}








/* Media Queries */

/* Tablet (max-width: 768px) */
@media screen and (max-width: 768px) {
    .top_nav {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }

    .nav_logo {
        width: 80px;
    }

    .nav_search {
        width: 100%;
        margin: 10px 0;
    }

    .category, .search_input, .search_icon {
        font-size: 14px;
    }

    .location_icon i, .nav_cart i {
        font-size: 20px;
    }

    .location_first, .location_second, .first_signin, .second_signin, .nav_cart p {
        font-size: 12px;
    }

    .bottom_nav {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
        top: 80px;
    }

    .bnav_left .all i {
        font-size: 16px;
    }

    .bnav_left .all, .bnav_left .options a {
        font-size: 12px;
    }

    .actual {
        margin: 0 20px;
    }

    .hero_section {
        height: 200px;
        margin-top: 60px;
    }

    .cards_grid, .products_box {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 15px;
    }

    .box {
        height: 350px;
    }

    .box img {
        height: 250px;
    }

    .box a, .signin_section .content button, .signin_section .content a {
        font-size: 14px;
    }

    .footer .row {
        padding: 30px 20px;
    }

    .col_heading, .footer .row .col ul li a {
        font-size: 14px;
    }

    .bottom_footer {
        width: 90%;
    }

    .footer_icon {
        width: 250px;
    }

    .dark_footer {
        padding: 30px 20px;
    }

    .link li {
        padding-left: 20px;
    }

    .link p {
        font-size: 10px;
    }
}

/* Mobile (max-width: 480px) */
@media screen and (max-width: 480px) {
    .top_nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    .nav_logo {
        width: 70px;
        margin-bottom: 10px;
    }

    .nav_search {
        width: 100%;
        margin: 10px 0;
    }

    .category, .search_input, .search_icon {
        font-size: 12px;
    }

    .location_icon, .nav_language, .nav_cart {
        margin: 5px 0;
    }

    .location_icon i, .nav_cart i {
        font-size: 18px;
    }

    .location_first, .location_second, .first_signin, .second_signin, .nav_cart p {
        font-size: 10px;
    }

    .bottom_nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 15px;
        top: 100px;
    }

    .bnav_left .all, .bnav_left .options a {
        font-size: 10px;
        margin: 5px 0;
    }

    .bnav_left .all i {
        font-size: 14px;
    }

    .actual {
        margin: 0 10px;
    }

    .hero_section {
        height: 150px;
        margin-top: 80px;
    }

    .cards_grid, .products_box {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
    }

    .box {
        height: 300px;
    }

    .box img {
        height: 200px;
    }

    .box a, .signin_section .content button, .signin_section .content a {
        font-size: 12px;
    }

    .signin_section .content button {
        width: 200px;
    }

    .footer .row {
        flex-direction: column;
        padding: 20px 10px;
    }

    .col_heading, .footer .row .col ul li a {
        font-size: 12px;
    }

    .bottom_footer {
        width: 100%;
        flex-direction: column;
    }

    .footer_icon {
        width: 200px;
        flex-direction: column;
        gap: 10px;
    }

    .footer_icon img {
        width: 80px;
    }

    .dark_footer {
        padding: 20px 10px;
    }

    .link {
        gap: 15px;
    }

    .link li {
        padding-left: 10px;
    }

    .link p {
        font-size: 8px;
    }

    .dark_footer .copy {
        font-size: 10px;
    }
}








